<a href="https://colab.research.google.com/github/ProData-Emmanuel/Hamoye_Spring_2024/blob/main/Emma_Okeke_Stage_C_Project_Tag_Along_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import all necessary tools
from bs4 import BeautifulSoup as bs
import requests
import time
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import logging

In [ ]:
url = 'https://www.jobberman.com/jobs?experience=no-experience'


max_retries = 2
retry_delay = 5

# configure logging to write errors to a file
logging.basicConfig(filename='errors.record', level=logging.ERROR)

# try request multiple times in case of failure
for a in range(max_retries):
    try:
        page = requests.get(url, timeout=10)
        page.raise_for_status()
    except requests.exceptions.RequestException as e:
        logging.error(f'Retrying request {a+1}/{max_retries} after error: {e}')
        time.sleep(retry_delay)
    else:
        soup = bs(page.text, 'html.parser')
        table = soup.find(class_="w-full md:grow md:mx-6")
        date = table.find_all(class_ = "ml-auto text-sm font-normal text-gray-700 text-loading-animate")
        pos = table.find_all(class_ = 'text-lg font-medium break-words text-link-500')
        job = table.find_all(class_ = "text-sm text-gray-500 text-loading-animate inline-block")
        sal = table.find_all(class_ = "mr-1")
        break

# if loop finished without a successful response, raise an exception
else:
    logging.error(f'Error: Maximum number of retries ({max_retries}) exceeded')
    raise requests.exceptions.RequestException(f'Maximum number of retries exceeded for url: {url}')

In [ ]:
Date_posted = []
Position = []
Job_function =[]
Salary_range = []

for d in date:
    job_dat = d.text.strip()
    Date_posted.append(job_dat)

for p in pos:
    job_pos = p.text.strip()
    Position.append(job_pos)

for j in job:
    job_fun= j.text.strip()
    Job_function.append(job_fun)

for s in sal:
    job_sal = s.text.strip()
    Salary_range.append(job_sal)

In [ ]:
# create a pandas dataframe from the extracted data and display it
df = pd.DataFrame({'date': Date_posted,
                   'position': Position,
                   'job_function': Job_function,
                   'salary_range': Salary_range})

df.head(10)

,date,position,job_function,salary_range
0,3 weeks ago,Early Years Teacher,"Job Function\n: Research, Teaching & Training","Less than 75,000"
1,Today,Administrative Staff,Job Function\n: Admin & Office,"Less than 75,000"
2,Today,Direct Sales Agent,Job Function\n: Sales,"Less than 75,000"
3,Today,Marketing Officer,Job Function\n: Marketing & Communications,"Less than 75,000"
4,Today,Direct Sales Executive,Job Function\n: Sales,"75,000 - 150,000"
5,Today,Chat Operator (Work from home),Job Function\n: Customer Service & Support,"150,000 - 250,000"
6,4 days ago,Marketer,Job Function\n: Marketing & Communications,"Less than 75,000"
7,4 days ago,Driver,Job Function\n: Driver & Transport Services,"Less than 75,000"
8,4 days ago,Security Personnel,Job Function\n: Health & Safety,"Less than 75,000"
9,4 days ago,Administrative Assistant,Job Function\n: Admin & Office,"Less than 75,000"

['Early Years Teacher',
 'Administrative Staff',
 'Direct Sales Agent',
 'Marketing Officer',
 'Direct Sales Executive',
 'Chat Operator (Work from home)',
 'Marketer',
 'Driver',
 'Security Personnel',
 'Administrative Assistant',
 'Store keeper',
 'Office Assistant',
 'Human Resources Personnel',
 'Marketer',
 'Marketer',
 'Software Engineering Trainee',
 'Office Assistant']